:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Rufina", serif;
  --third-font: "Playfair Display", serif;
  --accent-color: #ff817e;
  --title-color: #1e2528;
  --text-color: #828282;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.section {
  align-items: center;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* == HEADER == */
header {
  padding-top: 20px;
  padding-bottom: 20px;
}

header .container {
  display: flex;
}

/* == NAVIGATION == */
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-img {
  margin-bottom: 10px;
}

.logo-text {
  font-family: var(--third-font);
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #211833;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  font-family: var(--main-font);
  font-size: 14px;
  text-transform: uppercase;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  color: #263a41;
}

/* HERO */

.hero-btn {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  min-width: 170px;
  background-color: var(--accent-color);
  text-transform: uppercase;
  padding: 22px 53px 20px 33px;
  margin-right: 54px;
}

.icon-arrow {
  fill: white;
}

.span-icon-play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  /* width: 44px;
  height: 44px;
  border-radius: 50%; */
  background-color: #fcf5ee;
}

.icon-play {
  fill: var(--accent-color);
}
